@import url("./header.css");
@import url("./banner.css");
@import url("./carrossel.css");
@import url("./topicos.css");
@import url("./contato.css");
@import url("./rodape.css");
@import url("./cadastro.css");
@import url("./formulario.css");
@import url("./livros.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --cor-branca-primaria: #EBECEE;
    --cor-branca-secundaria: #FFFFFF;
    --cor-laranja: #EB9B00;
    --cor-azul: #002F52;
    --cor-azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --cor-preto: #000000;
    --cor-cinza: #474646;
    --cor-cinza-claro: #858585;
    --cor-vermelho: #D94937;
    --cor-laranja-secundario: #fc6621;
    --cor-tag-autor: #9c9c9c;
    --cor-botao: #326589;


    --fonte-primaria: 'Poppins', sans-serif;
    --fonte-secundaria: 'josefin sans', sans-serif;
}

body {
    background-color: var(--cor-branca-primaria);
    font-family: var(--fonte-primaria);
    font-size: 1rem;
    font-weight: 400;

}

